@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #000;
  color: #fff;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(
      rgba(0, 0, 0, 0.5) 20%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url(images/header.jpg);
  background-size: cover;
  background-position: bottom;
  padding: 12px 10%;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.logo {
  width: 150px;
  cursor: pointer;
}

.buttons {
  display: flex;
}

.navbar button {
  border: 0;
  outline: 0;
  background-color: #db0001;
  color: #fff;
  padding: 5px 20px;
  font-size: 18px;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}

.buttons .language-btn {
  width: 250px;
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 2px 0 2px 10px;
  position: relative;
}

.down-icon {
  width: 10px;
  position: absolute;
  right: 5%;
}

.globe {
  width: 20px;
  filter: invert(100%);
  margin-right: 15px;
}

.sign-in:hover {
  background-color: #b40000;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 40px;
}

.header-content .title {
  font-size: 48px;
  line-height: 70px;
  font-weight: 700;
  white-space: nowrap;
  padding: 16px 0;
}

.header-content h3 {
  font-size: 28px;
  font-weight: 400;
  padding-bottom: 12px;
}

.header-content p {
  font-size: 18px;
  padding-bottom: 8px;
}

.email-sign-up {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.email-sign-up input {
  height: 100%;
  width: 300px;
  background-color: hsla(0, 0%, 0%, 0.5);
  color: white;
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  border-radius: 5px;
  outline: 0;
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.email-sign-up button {
  position: relative;
  height: 100%;
  width: 200px;
  margin-left: 16px;
  border: 0;
  outline: 0;
  background-color: #db0001;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

.email-sign-up button:hover {
  background-color: #b40000;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15%;
}

/* Features */
.features {
  padding: 50px 12%;
  font-size: 22px;
  border-top: 8px solid hsla(0, 0%, 100%, 0.15);
}

.row {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.text-col,
.img-col {
  flex-basis: 50%;
  margin-bottom: 20px;
}

.img-col img {
  display: block;
  width: 90%;
  margin: auto;
}

.features h2 {
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.features .title-col-2 {
  font-size: 44px;
}

/* FAQ */
.faq {
  padding: 10px 12%;
  text-align: center;
  font-size: 18px;
}

.faq h2 {
  font-weight: 500;
  font-size: 40px;
}

.accordion {
  margin: 60px auto;
  width: 100%;
  max-width: 750px;
}

.accordion li {
  list-style: none;
  width: 100%;
  padding: 5px;
}

.accordion li label {
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  background-color: #303030;
  margin-bottom: 2px;
  cursor: pointer;
  position: relative;
}

label::after {
  content: "+";
  font-size: 34px;
  position: absolute;
  right: 20px;
  transition: transform 0.5s;
}

input[type="radio"] {
  display: none;
}

.accordion .content {
  background-color: #303030;
  text-align: left;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

.hidden {
  display: none;
}

.accordion input[type="radio"]:checked + label + .content {
  max-height: 600px;
  padding: 30px 20px;
}

.accordion input[type="radio"]:checked + label::after {
  transform: rotate(135deg);
}
/* FOOTER  */

.footer {
  padding: 50px 12%;
  font-weight: 400;
}

.footer-contact {
  margin-bottom: 2rem;
  font-size: 1rem;
}
.footer-links {
  /* background-color: #b40000; */
  width: 80%;
  max-height: 200px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.footer-links ul {
  list-style-type: none;
}

.footer-ul li {
  padding: 3px 0;
}

.footer-links ul li a {
  color: white;
  font-size: 14px;
}

.buttons:nth-child(1),
.language-btn:nth-child(1) {
  color: white;
  /* margin-top: 5rem; */
  width: 150px;
  padding: 5px;
  background-color: hsla(0, 0%, 100%, 0.08);
  border-radius: 8px;
}

.brand-text {
  margin-top: 1rem;
  font-size: 14px;
}

/* Media Screen */

@media only screen and (max-width: 600px) {
  .logo {
    width: 100px;
  }

  .buttons .language-btn {
    width: 50px;
    color: transparent;
    border-radius: 5px;
  }

  .language-btn .down-icon {
    margin-right: 5px;
  }

  .buttons button {
    padding: 4px 8px;
    font-size: 14px;
  }

  .header-content .title {
    font-size: 22px;
    line-height: 32px;
    white-space: normal;
  }

  .header-content h3 {
    font-size: 18px;
  }

  .header-content p {
    font-size: 14px;
  }

  .email-sign-up {
    display: flex;
    flex-direction: column;
    height: 100px;
    gap: 10px;
    /* background-color: aqua; */
  }

  .email-sign-up input,
  .email-sign-up button {
    height: 50px;
  }

  .features {
    font-size: 80%;
  }

  .row {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .features:nth-child(3) .row,
  .features:nth-child(5) .row {
    flex-direction: column-reverse;
  }

  .features h2 {
    font-size: 24px;
  }

  .features .title-col-2 {
    font-size: 24px;
  }

  .text-col p {
    font-size: 14px;
  }

  .faq-title {
    font-size: 18px;
    white-space: nowrap;
    text-align: center;
    margin-bottom: 10px;
  }

  .faq-accordion .questions {
    height: 50px;
    padding: 20px 20px;
  }

  .faq-accordion .faq-span,
  .faq-accordion .faq-btn {
    font-size: 0.8rem;
  }

  .faq-accordion .content {
    font-size: 13px;
    padding: 20px;
  }

  .text-faq {
    margin-top: 20px;
    font-size: 12px;
  }

  .footer-links {
    width: 100%;
  }

  .footer-row ul li a {
    font-size: 12px;
  }
}
